---
import Layout from "../components/Layout.astro"
import Player from "../components/clashroyale/Player.jsx"
---

<Layout title="Clash Royale">
    <main>
        <Player tag="BananaPancake"></Player>
    </main>
</Layout>