---
import Layout from '../components/Layout.astro'
import Player from '../components/clashroyale/Player.astro'
---

<Layout title="Clash Royale">
    <main>
        <Player tag="#20V92YGQ"></Player>
    </main>
</Layout>