---
const { tag } = Astro.props
const url = 'https://api.baserow.io/api/database/rows/table/77990/?user_field_names=true&order_by=Name'
const apiToken = '7rATEYBHGRhjrpSBs9wCtwN9AyulnVUb'

const data = await fetch(
    url,
    {
        headers: {
            'Authorization': 'Token ' + apiToken
        }
    }
).then(r => r.json())
---
<ul>
    {data.results.map((item: { Name: unknown; }) => (
      <li class="font-bold text-red-600 p-6">{item.Name}</li>
    ))}
</ul>
